.list {
    list-style-type: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
  }

  .logo-first {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .logo-second {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .menu-link {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }
  .menu-link:hover{
    color: #404BBF;
  }

  .contact-list-link {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }

  .contact-list-link:hover{
    color: #404BBF;
  }

  .page-header {
    background-color: #fff;
  }

  .hero{
    background-color: #2E2F42;
  }
  .main-title {
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
  }
  .order-btn{
    background: #4D5AE5;
  }
  .orden-btn:hover{
    background-color: #404BBF;
  }
  
  .order-btn-text {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
  }

  .section2{
    background-color: #fff;
  }

  .section2-secondary-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
  }
  .section2-p {
    color: var(--SLATE, #434455);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }

  .section3-main-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .section3 {
    background-color: #F4F4FD;
  }

  .section3-list-item{
    background-color: #FFF;
  }
  .section3-img{
    background-color: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;

  }

  .section3-h3{
    color: #2E2F42;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
  }
  .section3-p {
    color: #434455;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }
  
  .section4{
    background-color: #FFF;
  }
.section4-main-title{
    color: #2E2F42;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111111; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
  .section4-img{
    background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;
  }
  .section4-list-item{
    background-color: #FFF;
  }

  .section4-h3{
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
  }
  .section4-p{
    color: #434455;   
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }

  .footer-section{
    background-color: #2E2F42;
  }
  
  .footer-link{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .footer-studio{
    color: #f4f4fd;
  }
  .footer-p{
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }
